<div id="<%= dom_id service %>">
  <p>
    <strong>Pool:</strong>
    <%= service.pool %>
  </p>

  <p>
    <strong>Barbecue:</strong>
    <%= service.barbecue %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= service.gym %>
  </p>

  <p>
    <strong>Green areas:</strong>
    <%= service.green_areas %>
  </p>

  <p>
    <strong>Childish games:</strong>
    <%= service.childish_games %>
  </p>

  <p>
    <strong>Parking lots:</strong>
    <%= service.parking_lots %>
  </p>

  <p>
    <strong>Pet friendly:</strong>
    <%= service.pet_friendly %>
  </p>

</div>
