<div id="<%= dom_id state %>">
  <p>
    <strong>Available:</strong>
    <%= state.available %>
  </p>

  <p>
    <strong>Rent:</strong>
    <%= state.rent %>
  </p>

  <p>
    <strong>Sale:</strong>
    <%= state.sale %>
  </p>

  <p>
    <strong>Leased:</strong>
    <%= state.leased %>
  </p>

  <p>
    <strong>Sold:</strong>
    <%= state.sold %>
  </p>

</div>
