<div id="<%= dom_id department %>">
  <p>
    <strong>Price:</strong>
    <%= department.price %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= department.number %>
  </p>

  <p>
    <strong>Bedroom:</strong>
    <%= department.bedroom %>
  </p>

  <p>
    <strong>Bathroom:</strong>
    <%= department.bathroom %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= department.image %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= department.client_id %>
  </p>

  <p>
    <strong>Building:</strong>
    <%= department.building_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= department.state_id %>
  </p>

</div>
