<div id="<%= dom_id building %>">
  <p>
    <strong>Name:</strong>
    <%= building.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= building.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= building.number %>
  </p>

  <p>
    <strong>City:</strong>
    <%= building.city %>
  </p>

  <p>
    <strong>Commune:</strong>
    <%= building.commune %>
  </p>

</div>
